[submodule "pobfrontend"]
	path = pobfrontend
	url = git@github.com:jhofmeyr/pobfrontend.git
[submodule "lua-curl"]
	path = lua-curl
	url = git@github.com:Lua-cURL/Lua-cURLv3.git
[submodule "pob"]
	path = pob
	url = git@github.com:PathOfBuildingCommunity/PathOfBuilding.git
